{% extends 'base.html' %}
{% block content %}
<body>
        <div>
                <table class="nes-table is-bordered is-dark" style="width:100%; height:75%">
                        <tr>
                                <td id="hp1"></td>
                                <td id="hp2"></td>
                        </tr>
                        <tr>
                                <td id="userPokemon"></td>
                                <td id="aiPokemon"></td>
                        </tr>
                        <tr>
                                <td id="comment"></td>
                        </tr>
                        <tr>
                                <td>
                                        
                                        <input type = 'button' class = "nes-btn is-primary" id = 'm0'>
                                        <input type = 'button' class = "nes-btn is-success" id = 'm1'>
                                        <input type = 'button' class = "nes-btn is-warning" id = 'm2'>
                                        <input type = 'button' class = "nes-btn is-error" id = 'm3'>
                                </td>
                        </tr>

                </table>
        </div>
                <div class="nes-container is-rounded is-dark">
                
                        <a href="/pokemon/stats">Choose new Pokemon</a>
                </div>
        <script src="{{url_for('static', filename='battle.js')}}"></script>
</body>

{% endblock %}
        