{% extends 'base.html' %}
{% block content %}
<body>
        <table class="nes-table is-bordered is-dark" style="width:100%; height:75%">
                <tr>
                        <td id="hp1"></td>
                        <td id="hp2"></td>
                </tr>
                <tr>
                        <td id="userPokemon"></td>
                        <td id="aiPokemon"></td>
                </tr>
                <tr>
                        <td id="comment"></td>
                </tr>
                <tr>
                        <td>
                                
                                <input type = 'button' class = "nes-btn is-primary" id = 'm0'>
                                <input type = 'button' class = "nes-btn is-success" id = 'm1'>
                                <input type = 'button' class = "nes-btn is-warning" id = 'm2'>
                                <input type = 'button' class = "nes-btn is-error" id = 'm3'>
                        </td>
                </tr>

        </table>
        <a href="/pokemon/stats" style="font-size:25px">go to pokemon stats screen</a>
        <script src="{{url_for('static', filename='battle.js')}}"></script>
</body>

{% endblock %}
        