<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href={{ url_for('static', filename='battle.css') }} rel="stylesheet">
    
</head> -->
{% extends 'base.html' %}
{% block content %}
<body>
        <div class="nes-container with-title is-centered">
         <h1 class="title">
        <img style="text-align:center;width:300px;" class="logo" title="Reset Game" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/2000px-International_Pok%C3%A9mon_logo.svg.png" alt="Pokemon">            

        </h1>
         </div>


<table class="stadium">
    <tr>
            <td id="hp1"></td>
            <td id="hp2"></td>
    </tr>
    <tr>
            <td id="userPokemon"></td>
            <td id="aiPokemon"></td>
    </tr>
    <tr>
            <td id="comment"></td>
    </tr>
    <tr>
            <td>
                
                    <input type = 'button' class = "nes-btn is-primary" id = 'm0'>
                    <input type = 'button' class = "nes-btn is-success" id = 'm1'>
                    <input type = 'button' class = "nes-btn is-warning" id = 'm2'>
                    <input type = 'button' class = "nes-btn is-error" id = 'm3'>
            </td>
    </tr>

</table>

<script src="{{url_for('static', filename='battle.js')}}"></script>
</body>
</html>
{% endblock %}
        