<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> All Pokemon</title>
</head>
<body>
    {{pokemon.sprite}}
<div class="row">
    {%  for p in pokemon %}
    <div class="col-sm-2 col-6">
        <ul>
            <li>{{ p.name }}</li>
        </ul>
      <img src="{{ p.sprite }}"
           class="img-fluid">
    </div>
    {% endfor %}
  
      <h1>{{ pokemon.name }}</h1>
</body>
</html>