body{
    height:100vh;
    background-color:red;
    display: flex;
    justify-content: center;
    align-items: center;
   }
 .logo {
        position: static;
        justify-content: center;
        width: 100px;
    }
.stadium {
        background: #7DCD79;
        width: 600px;
        height: 700px;
        flex-shrink: 0;
      }
td img {
        width: 400px;
      }

 th, td {
            padding: 20 px;
            position: relative;

        }
 
 p {
    position: static;
  border: 3px solid #73AD21;   
  font-family: fantasy;
    font-size: xxx-large               
    }
  
   