<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Pokemon Battle</title>
  <link href="dist/rpgui.css" rel="stylesheet" type="text/css" >
  <script src="dist/rpgui.js"></script>
  <link rel="stylesheet"
        href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <script src="https://unpkg.com/popper"></script>
  <script src="https://unpkg.com/bootstrap"></script>

  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link rel="stylesheet" href="/static/battle.css">
  <link rel="shortcut icon" href="/static/favicon.ico">
</head>
<body>
  {% block content %}

  {% endblock %}
  
</body>

</html>